
.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info {
    width: 340px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin: 30px 0 15px 0;
}

hr {
    width: 320px;
    height: 1px;
    margin: 20px auto 20px auto;
    background: #EBEBEB;
    border: none;
}

p {
    font-size: 16px;
    text-align: center;
}

.suite {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.suite a {
    text-decoration: none;
}
.suite a:hover {
    text-decoration: underline;
}
h2 {
    text-align: center;
    margin: 0 0 20px 0;
}

.addBtn {
    width: 160px;
    height: 21px;
    font-size: 16px;
    background: #222831;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
}
.addBtn:hover{
    background: #22283150;
}

.content-card {
    display: grid;
    grid-template-columns: 110px repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 20px; 
    border-radius: 5px;
    padding: 16px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    width: 380px;
    height: 143px;
}
.content-card p {
    text-align: left;
    font-size: 12px;
}
    
.img-card { 
    grid-area: 1 / 1 / 5 / 2; 
    width: 110px;
    height: 110px;
    background: #222831;
}
.img-card img {
    width: 110px;
    height: 110px;
}
.title-card { 
    grid-area: 1 / 2 / 2 / 4; 
    padding-left: 5px;
}
.btn-card { 
    grid-area: 1 / 4 / 2 / 5; 
    text-align: right;
}
.info-card { 
    grid-area: 2 / 2 / 3 / 5; 
    padding-left: 5px;
}
.description-card { 
    grid-area: 3 / 2 / 5 / 5;
    padding-left: 5px;
}

.title-card a {
    color: #222831;
    font-size: 16px;
}

.btn-card button {
    width: 28px;
    height: 28px;
    background: #222831;
    border: none;
    border-radius: 1px;
    padding: 7px;
    cursor: pointer;
}
.btn-card button:hover {
    background: #22283150;
}
.btn-card button img{
    width: 14px;
    height: 14px;
}


/* input file */
.picture {
    margin: 5px 0 5px 0;
}
.picture label {
    background-color: #EFEFEF;
    border: 1px solid #767676;
    color: black;
    font-size: 15px;
    cursor: pointer;
    border-radius: 3px;
    padding: 2px 4px;
}
.picture label:hover {
    background-color: #d4d4d4;
}
.picture input {
    display: none;
}
.picture span {
    font-size: 15px;
}

@media screen and (min-width:992px){

    main {
        display: flex;
        justify-content: center;
    }

    h1 {
        margin: 100px 0 40px 0;
    }

    .info {
        width: 533px;
    }

    hr {
        width: 533px;
    }

    .addBtn {
        width: 170px;
    }

    .content-card {
        width: 565px;
    }

    .title-card a {
        color: #222831;
        font-size: 20px;
    }

    .title-card { 
        padding-left: 15px;
    }
    .info-card { 
        padding-left: 15px;
    }
    .description-card { 
        padding-left: 15px;
    }

    .content-card p {
        font-size: 16px;
    }
  
}