@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    font-family: 'Lora', serif;
    box-sizing:border-box; 
    outline:none;
    margin:0;
    padding:0;
}

body {
    height: calc(100vh - 320px);
}

main {
  min-height: 100%;
}