@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    font-family: 'Lora', serif;
    box-sizing:border-box; 
    outline:none;
    margin:0;
    padding:0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    
}